page-landing {
    .contents{
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.6),
          rgba($color-primary-dark, 0.7)
        ),
        url("../../assets/imgs/hero.jpg");
        background-size: cover;
        background-position: center;
    }
    ion-content{
        background: $color-grey-light-2 !important;
    }

    .flexcontainer{
        border: 1rem solid rgba($color-white, .9);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        &__content{
            color: $color-grey-light-2;
            &__heading{
                text-align: center;
                font-size: 6rem;
                color: $color-grey-light-1;
                font-family: $font-1;
                font-weight: 600;
                animation: .5s ease fadeIn;
                animation-delay: 1s;
            }

            &__imageflex{
                display: flex;
                justify-content: center;
                animation: .5s ease fadeIn;
                animation-delay: 1.5s;
            }

            &__quoteflex{
                &__quote{
                    font-size: 2rem;
                    text-align: center;
                    text-transform: capitalize;
                    animation: .5s ease fadeIn;
                    animation-delay: 2s;
                }
            }
            
            &__btnflex{
                display: flex;
                justify-content: center;
                flex-direction: column;
                &__btn{
                    animation: pulse 1s infinite;
                    animation-delay: 3s;
                    color: $color-grey-dark;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: .2rem;
                
                }
            }
        }
    }

    @keyframes pulse{
        0% {
            box-shadow: 0 0 0 0 rgba($color-white, 0.4);
          }
          70% {
            box-shadow: 0 0 0 1rem rgba($color-white, 0);
          }
          100% {
            box-shadow: 0 0 0 0 rgba($color-white, 0);
          }
    }
}
