<!--
  Generated template for the DisplayAllPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='secondary'>
    <ion-title>{{ suite.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="imagecontainer" [ngStyle]="{
    'background-image': 'linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)),url('+ suite.url +')',
    'background-size': 'cover',
    'background-position': 'center'
  }">
    <div class="imagecontainer__priceflex">
      <div class="imagecontainer__priceflex__price">
        <p class="imagecontainer__priceflex__price__pricetext">ZAR {{suite.price}}</p>
      </div>
    </div>
    <div class="imagecontainer__starsflex">
      <p *ngIf="suite.rating == 5" class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p *ngIf="suite.rating == 4" class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p *ngIf="suite.ratin == 3" class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p class="stars" *ngIf="suite.rating == 2">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p class="stars" *ngIf="suite.rating == 1">
          <i class="fas fa-star"></i>
      </p>
    </div>
  </div>
  <h1 class="descText">Description</h1>
  <div class="contentbox">
    <p class="contentbox__description">{{suite.description}}</p>
  </div>
  <div class="capacity">
    <h1 class="capacity--headingText">Occupant Capacity</h1>
    <h2 class="capacity--occupants">{{suite.occupants}}</h2>
  </div>
  <button *ngIf="isAuthenticated == true" (click)="nextPage('BookingPage')" class="bookbtn">Book Now!</button>
  <button *ngIf="isAuthenticated == false" (click)="nextPage('RegisterPage')" class="bookbtn">Register To Book</button>
</ion-content>