page-five {
    *{
        margin: 0;
        padding: 0;
    }

    .card{
      box-shadow: .1rem .5rem .8rem rgba($color-grey-dark, .7);
      color: $color-grey-light-1;
      height: 27vh;
      border-radius: 2rem;

      &:not(:last-child){
        margin-bottom: 1.5rem;
      }

      &:first-child{
          margin-top: 1.5rem;
      }

      &:nth-child(odd){
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        animation: moveInLeft 1s ease;

        .pricetext{
            background: linear-gradient(rgba($color-primary-light, .9),rgba($color-primary-dark, .9));
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            font-size: 1.8rem;
            padding: 1rem;
            font-weight: 300;
            margin-left: .5rem;
            min-width: 8rem;
        }

        .title{
            font-weight: 300;
            letter-spacing: .2rem;
            text-transform: uppercase;
        }

        i{
            display: inline-block;
            background: linear-gradient(rgba($color-primary-dark, 1),rgba($color-primary-light, 1));
            -webkit-background-clip: text;
            color: transparent;
        }

        .content{
            margin-left: .6rem;
        }

      }

      &:nth-child(even){
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
        animation: moveInRight 1s ease;

        .pricetext{
            background: linear-gradient(rgba($color-primary-light, .9),rgba($color-primary-dark, .9));
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            font-size: 1.8rem;
            padding: 1rem;
            font-weight: 300;
            margin-right: .5rem;
            min-width: 8rem;
        }

        .title{
            font-weight: 300;
            letter-spacing: .2rem;
            text-transform: uppercase;
        }

        i{
            display: inline-block;
            background: linear-gradient(rgba($color-primary-dark, 1),rgba($color-primary-light, 1));
            -webkit-background-clip: text;
            color: transparent;
        }

        .content{
            margin-right: .6rem;
        }
      }

    }
}
